{{!--     <tr>
        <th>Name</th>
        <th>Score</th>
    </tr> --}}

    {{#each users}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
        </tr>
    {{/each}}